{% extends 'base.html.twig' %}

{% block title %}Tierlist{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes tierlist :</h1>

        <a href="{{ path('tierlist.new') }}" class="btn btn-primary">
        Créer un ingrédient
        </a>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        <div class="count mt-4">
            <h4>
                Il y a {{ tierlists.getTotalItemCount }} tierlist au total
            </h4>-Une date de sortie

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">edition</th>
                    <th scope="col">Suppresion</th>
                </tr>
            </thead>
            <tbody> 
            {% for tierlist in tierlists %}
            <tr class="table-primary">
                    <th scope="row">{{ tierlist.id}}</th>
                    <td>{{ tierlist.name}}</td>
                    <td>{{ tierlist.type}}</td>
                    <td>{{ tierlist.createdAt|date('d/m/Y')}}</td>
                    <td>
                        <a href="{{ path('tierlist.edit', { id: tierlist.id }) }}" class="btn btn-info"> Modifier </a>
                    </td>
                    <td>
                        <a href="{{ path('tierlist.delete', { id: tierlist.id }) }}" class="btn btn-warning"> Supprimer </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(tierlists) }}
        </div>
        
</div>
{% endblock %}
