{% extends "base.html.twig" %}

{% block body %}
    <div class="container">

        <h1 class="mt-4">Modification d'un jeu</h1>

        {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
        <div class="form-error">
            {{ form_errors(form.type) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.plateforme) }}
        {{ form_widget(form.plateforme) }}
        <div class="form-error">
            {{ form_errors(form.plateforme) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.societe) }}
        {{ form_widget(form.societe) }}
        <div class="form-error">
            {{ form_errors(form.societe) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>

<div class="form-check mt-4">
    {{ form_widget(form.isFavorite) }}
    {{ form_label(form.isFavorite) }}
    <div class="form-error">
        {{ form_errors(form.description) }}
    </div>
</div>
    {{ form_row(form.tierlist)}}

        {{ form_end(form) }}
    </div>
{% endblock %}